  <h1>New Bookmark</h1>

<div class="card-category" style="text-align: center; justify-content: center; ">
  <%= form_with(model: @bookmark, url: list_bookmarks_path, local: true) do |form| %>
    <div>
      <%= form.label :comment %><br>
      <%= form.text_field :comment %>
    </div>

    <div>
      <%= form.label :movie_id %><br>
      <%= form.collection_select(:movie_id, Movie.all, :id, :title) %>
    </div>

    <div>
      <%= form.submit 'Create Bookmark' %>
    </div>
  <% end %>

  <p><%= link_to 'Back', list_path(@list) %></p>
</div>
